$orange: #F07530; /* rgb(240, 117, 48) */
$orange-dark: #c5500e; /* rgb(197, 80, 14) */
$beige: #fcf9f7; /* rgb(252, 249, 247); */

$white: #fff; /* rgb(255, 255, 255) */
$light-grey: #efefef; /* rgb(239, 239, 239); */

// $white: #ffffff;
// $beige: #f9d0b2; /* rgb(249, 208, 178); */
// $beige-darker: #f5a56a; /* rgb(245, 165, 106); */
// $orange: #f2843b;  /* rgb(242, 132, 59); */
// $orange-darker: #f07530; /* rgb(240, 117, 48); */
