@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Maven Pro';
  src: url("../assets/fonts/Maven_Pro/MavenPro-Regular.ttf");
}

@font-face {
  font-family: 'Fjalla One';
  src: url("../assets/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}