@import "loader";

html, body {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;  
  font-family: 'Maven Pro', sans-serif;
}

body {
	background: no-repeat top center #FAF4F1;
	background-image: url("/images/background-shades.png");
	background-image: url("/images/background-shades.svg"),none;
  margin: 60px 0 0 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #444444;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

a{
	color: #F23818;
	text-decoration:none;
	&:hover{
		border-bottom: 1px dotted #F23818;
	}
}


.hide {
  display: none;
}

.show {
  display: block;
}

span.toggle {
  cursor: pointer; 
}


#header {
  position: absolute;
  width: 100%;
  min-width: 940px;
  top: 0;
  height: 60px;
  background: #e1563f top center;
  background-image: url("/images/navigation_background.png");
  border-bottom: 1px solid #aa412f;
  z-index: 10;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
  box-shadow: rgba(0,0,0,0.3) 0 0 3px;
	 #logo {
	  position: absolute;
	  left: 7px;
	  top: 6px;
	  width: 103px;
	  height: 40px;
	  background-image: url("/images/ember_logo.png");
	  -webkit-transform: scale(1);
	  -moz-transform: scale(1);
	  -ms-transform: scale(1);
	  -o-transform: scale(1);
	  transform: scale(1);
	  -webkit-transition: 0.2s;
	  -moz-transition: 0.2s;
	  -o-transition: 0.2s;
	  transition: 0.2s;
	  z-index:1;
	}
	#nav{
		padding-left: 120px;
		top: 21px;
		position: relative;
		a {
		  font-family: 'Maven Pro';
		  font-weight: bold;
		  font-size: 13px;
		  text-transform: uppercase;
		  color: #faf2ee;
		  text-shadow: rgba(0,0,0,0.3) 0px 1px 0px;
		  display: block;
		  padding: 0px 1em;
		  height: 26px;
		  line-height: 26px;
		  text-decoration: none;
		  border: 1px solid transparent;
		}
	} 
}	

#content {
  overflow: hidden;
  width: 100%;
  max-width: 90%;
  padding: 0px 0px 20px 0px;
  margin: 0 auto;
  position: relative;
  .news-items{
  	padding: 0 45px 0 45px;
  	margin: 30px 0 30px 0;
  	.news-item{
  		list-style: none;
  		.title{
  			font-size: 14px;
  			font-weight: normal;
  			margin-bottom:5px;
  			position:relative;
  			.index{
  				font-style: normal;
  				position:absolute;
  				right: 101%;
  			}
  		}
  		.details{
  			font-size: 12px;
  			color: #666;
  		}
  	}
  }
  .article{
  	.title{
  		line-height: 1.3em;
  		margin-bottom:5px;
  	}
  	.source{
  		display: block;
  		margin-bottom:10px;
  	}
  	.comment-items{
  		padding-left: 20px;
  	}
  }
}







