<li>{{#link-to routeName (query-params page=prevPage) disabled=disablePrevPage}}&laquo;{{/link-to}}</li>

{{#each pages key="@index" as |page|}}
  <li>{{#link-to routeName (query-params page=page)}}{{page}}{{/link-to}}</li>
{{/each}}

<li>{{#link-to routeName (query-params page=nextPage) disabled=disableNextPage}}&raquo;{{/link-to}}</li>
