<div class="article">
  <h1>Info</h1>
  <p>
    This is a single page, real-time app built on EmberJS and Firebase. It's an ongoing project to showcase Ember and keep up-to-date with the release and upgrage path.
  </p>


  <h2>Libraries</h2>
  <ul>
    {{#each libraries as |library|}}
      <li>{{library.name}} v{{library.version}}</li>
    {{/each}}
  </ul>


  <h2>Acknowledgements</h2>
  <ul>
    <li>Data - Data is provided by Hacker News.</li>
    <li>Logo - Original design by Joel Glovierapp.</li>
    <li>Icons - Entypo+ designed by Daniel Bruce.</li>
    <li>Layout - Inspired by @chancancode</li>
    <li>Contributors - @donovan-graham @linearza</li>
  </ul>

  <p>
    Share and enjoy! <br>
    Donovan Graham
  </p>


</div>