<div class="article">
  <h1>About</h1>
  <p>
  This is a single page, real-time app built on <a href="http://www.emberjs.com/" target="_blank">EmberJS</a> and <a href="https://www.firebase.com" target="_blank">Firebase</a>. It's an ongoing project to showcase Ember and keep up-to-date with the release and upgrade path.
  </p>

  <h2>Source Code</h2>
  <p>
     The source code is <a href="https://github.com/donovan-graham/ember-hn" target="_blank">available on GitHub</a>.
  </p>

  <p>
    Please report bugs and suggest features on the issue tracker or send pull requests to help improve the app.
  </p>


  <h2>Libraries</h2>
  <ul>
    {{#each libraries as |library|}}
      <li>{{library.name}} v{{library.version}}</li>
    {{/each}}
  </ul>


  <h2>Acknowledgements</h2>
  <ul>
    <li>Data is provided by <a href="https://github.com/HackerNews/API" target="_blank">Hacker News API</a>.</li>
    <li>Original <a href="https://dribbble.com/shots/797096-Hacker-News-logo-concept" target="_blank">logo</a> design by <a href="http://joelglovier.com/" target="_blank">Joel Glovierapp</a>.</li>
    <li><a href="http://www.entypo.com/" target="_blank">Entypo+</a> icons designed by <a href="http://www.danielbruce.se/" target="_blank">Daniel Bruce</a>.</li>
    <li>Theme inspired by <a href="https://github.com/chancancode/hn-reader" target="_blank">hn-reader</a> project by <a href="https://github.com/chancancode" target="_blank">Godfrey Chan</a>.</li>
    <li><a href="https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Maven+Pro" target="_blank">Maven Pro</a> font by Joe Prince.</li>
    <li><a href="https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Roboto" target="_blank">Roboto</a> font by Christian Robertson.</li>
  </ul>

  <h2>Main Contributors</h2>
  <ul>
    <li>Donovan Graham <a href="https://github.com/donovan-graham" target="_blank">@donovan-graham</a>.</li>
    <li>Michiel Van Wijk <a href="https://github.com/linearza" target="_blank">@linearza</a>.</li>
  </ul>


  <br>
  <p>
    Share and enjoy! <br>
    <i>Donovan</i>
  </p>


</div>