<div class="article">
  <h1>Info</h1>

  This app was made by Donovan Graham.

  It's a full client-side javascript app built with love using EmberJS and pulls data in real-time from Firebase.

  Data - All the data in this app comes from Hacker News.
  Logo - The logo is from a similar design by Joel Glovierapp.
  Icons - The icons used are part of Entypo+ designed by Daniel Bruce.
  Layout - Inspired by @chancancode
  Contributors - @linearza



</div>