<div class="article">
  <h1 class="title">{{user.username}}</h1>

  <table class="info">
    <tr>
      <th>Created:</th>
      <td>{{time-ago user.created}}</td>
    </tr>
    <tr>
      <th>Karma:</th>
      <td>{{user.karma}}</td>
    </tr>
    <tr>
      <th>About:</th>
      <td>{{user.about}}</td>
    </tr>
  </table>

</div>