<div id="header">
	<div class="header-wrap">
    {{#link-to 'news' (query-params page=1) id="logo"}}
      <img src="images/ember_logo.png" /> 
    {{/link-to}}

		<div id="nav">
		{{#link-to 'news' (query-params page=1)}}EmberJS Hacker News{{/link-to}}
		</div>
	</div>	
</div>

<div id="content">
  {{outlet}}
</div>