<h1>News items</h1>

<ul>
  {{#each item in model}}
    <li>{{#link-to 'news.item' item.id}}{{item.title}}{{/link-to}}</li>
  {{/each}}
  <li>{{#link-to 'news.item' 8422599}}########### An item{{/link-to}}</li>
</ul>

<div style="border: 2px solid red; padding:5px; margin: 5px;">
{{outlet}}
</div>